<!DOCTYPE html>
<html>
    <body>
        <h1>Login</h1>
        <form action="/login" method="post">
            <input
            id="email"
            name="email"
            type="text"
            value="email"
            required/>
            <input
            id="password"
            name="password"
            type="text"
            value="password"
            required/>
            <button type="submit">Login</button>
        </form>
    </body>
</html>